server:
  port: ${PORT:8080}
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: sample-project

springdoc:
  api-docs:
    path: /api-docs
app:
  name: "@project.artifactId@"
  version: "@project.version@"

redis :
  host : 'redis://127.0.0.1:6379'
  max-total: 1100
  max-idle: 16
  min-idle: 16
  idle-time: 60
  eviction: 30
  tests: 3

ext :
  integration_id : '5db9141965e767e639fe4333'
  api_key : 'xxxx-xxxx-xxxxx' #Key needs to be replaced with extension api_key
  api_secret : 'xxxx-xxxx-xxxxx' #Key needs to be replaced with extension api_secret
  scopes : 'company/saleschannel'
  base_url : 'https://ad23-103-197-222-199.in.ngrok.io'
  access_mode : 'offline'
  cluster: "https://api.fyndx1.de"
  webhook:
    api_path: "/event/webhook"
    notification_email: "aparnabalachandran@gofynd.com"
    subscribed_saleschannel: 'specific'
    event_map:
      -
        name: 'article/delete'
        handler: articleHandler
        category: 'company'
        version: 1
      -
        name: 'product-size/create'
        handler: productSizeCreateEvent
        category: 'company'
        version: 2
      -
        name: 'product-size/update'
        handler: productSizeUpdateEvent
        category: 'company'
        version: 2
      -
        name: 'product-size/delete'
        handler: productSizeDeleteEvent
        category: 'company'
        version: 2
      -
        name: 'integration/update'
        handler: integrationHandler
        category: 'company'
        version: 1
